.app-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 25px;
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 10;
  justify-content: space-between;
  align-items: flex-start;
  pointer-events: none;
}
